.skills {
  position: relative;
  min-height: 60vh;
  padding-bottom: 100px;

  * {
    color: white;
  }
  .container {
    max-width: 700px;
  }
  .movingText {
    color: white;
    font-size: 72px;
    max-width: none;
    position: absolute;
    left: -2560px;
    top: 0;
    animation: my-animation 50s infinite linear;
    white-space: nowrap;
    @media (max-width: 800px) {
      font-size: 50px;
      left: -1798px;
    }
  }
  .movingTextSecond {
    left: 0;
  }
  @keyframes my-animation {
    from {
      -webkit-transform: translateX(0%);
    }
    to {
      -webkit-transform: translateX(100%);
    }
  }

  &__content {
    padding-top: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: 750px) {
      padding-top: 100px;
    }
    &__icon {
      position: relative;
      width: fit-content;
      margin: 30px;
      opacity: 0;

      p {
        font-family: "consola";
        position: absolute;
        top: calc(100% + 10px);
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.4;
      }
      img {
        width: 100px;
        max-height: 100px;
        @media (max-width: 750px) {
          width: 45px;
          max-height: 45px;
        }
      }
    }
    &__icon11 {
      img {
        position: relative;
        top: 25px;
        @media (max-width: 750px) {
          top: 10px;
        }
      }
    }
  }
}
