nav {
  .menu-mobile {
    display: flex;
    cursor: pointer;
    // width: 30px;
    // height: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    .close-menu {
      width: 30px;
      height: 30px;
      background-image: url("../../assets/cross.svg");
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
    }
    .menu-bar {
      width: 35px;
      height: 4px;
      margin-bottom: 5px;
      background-color: #434343;
      position: relative;
      transition: all 0.2s ease-in-out;
    }
    .purple-bar {
      left: -5px;
    }
  }
  .barContainer {
    &:hover {
      .purple-bar {
        left: 0;
      }
    }
  }
  .menu-mobile-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: 50px;
    display: flex;

    // backdrop-filter: blur(2px);

    //opacity: 0;
    //visibility: hidden;

    z-index: 1;
    &__bubble {
      display: none;
      width: fit-content;
      height: 50px;
      border-radius: 30px;
      background-color: #434343;
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      opacity: 1;
      transition: all 0.3s ease-in-out;
      // &__hover {
      //   top: 0;
      //   opacity: 1;
      // }
      &__open {
        width: fit-content;
        top: 0;
        opacity: 1;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      max-width: 1160px;
      padding-left: 30px;
      padding-right: 30px;
      margin: 0 auto;
      transition: 0.7s ease-in-out;
      background-color: #434343;
      border-radius: 5px;
      position: relative;
      top: -120px;
      @media (max-width: 550px) {
        transform: scale(0.7);
        top: -100px;
      }
      li {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
      button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        // background-color: white;
        color: white;
        font-size: 20px;
        transition: all 0.2s ease-in-out;
        // position: relative;
      }

      .yellow {
        &:hover {
          color: #f6d96d;
        }
      }
      .purple {
        &:hover {
          color: #6d6df6;
        }
      }
      .purplePink {
        &:hover {
          color: #f66d9c;
        }
      }
    }
    .current {
      &::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: white;
        border-radius: 50%;
        bottom: 10px;
        left: 22%;
        transition: 0.2s ease-in-out;
        transform: translateX(-22%);
        // 22 50 78
      }
    }
    .current_2 {
      &::before {
        left: 50% !important;
        transform: translateX(-50%) !important;
      }
    }
    .current_3 {
      &::before {
        left: 78% !important;
        transform: translateX(-78%) !important;
      }
    }
    .openMenu {
      display: flex;
      top: 0px;
    }
  }
  .menu {
    display: flex;
    position: relative;
    @media (max-width: 950px) {
      display: none;
    }
    li {
      position: relative;
      margin-left: 40px;
      &:first-child {
        margin-left: 0;
      }
      a {
        position: relative;
        z-index: 2;
        font-size: 20px;
      }
      &:hover {
        &::before {
          // width: 40px;
          // height: 40px;
          // border-radius: 50%;
          // bottom: -10px;
          height: 25px;
        }
      }
    }
  }
}
