.banner {
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 100px;
  @media (max-width: 750px) {
    margin-bottom: 10px;
  }
  .container {
    max-width: 1300px;
    padding-left: 90px;
    padding-right: 90px;
    @media (max-width: 750px) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .bubblemove {
    width: 800px;
    height: 70vh;
    border-radius: 50%;
    position: fixed;

    //add blur effect
    filter: blur(150px);
    z-index: -1;
  }
  .bubblemove.yellow {
    background-color: #ffbc00;
    left: calc(50% - 600px);
    top: 100px;
    width: 1200px;
  }
  .bubblemove.blue {
    background-color: #696df6;

    left: calc(50% - 600px);
    top: 120px;
  }
  .bubblemove.purple {
    background-color: #cc70d8;
    left: calc(50% - 50px);
    top: 180px;
  }
  //animation move bubble randomly
  .bubblemove.yellow {
    animation: move 10s infinite;
  }
  .bubblemove.blue {
    animation: move2 10s infinite;
  }
  .bubblemove.purple {
    animation: move3 10s infinite;
  }
  @keyframes move {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(80px, 80px);
    }
    50% {
      transform: translate(-20px, -20px);
    }
    75% {
      transform: translate(70px, 70px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes move2 {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-30px, -30px);
    }
    50% {
      transform: translate(100px, 100px);
    }
    75% {
      transform: translate(20px, 20px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes move3 {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(100px, 100px);
    }
    50% {
      transform: translate(-100px, -100px);
    }
    75% {
      transform: translate(80px, 80px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  &__content {
    padding-top: 200px;
    // height: 800px;
    @media (max-width: 1080px) {
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 750px) {
      padding-top: 100px;
      // height: 750px;
    }

    display: flex;
  }
  &__aboutContent {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    max-width: 700px;
    @media (max-width: 1180px) {
      width: 60%;
    }
    @media (max-width: 1080px) {
      width: 100%;
      max-width: none;
    }
    // transform: rotate(-10deg);
    &:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 400px;
      background-color: white;
      left: -30px;
      @media (max-width: 750px) {
        display: none;
      }
    }
    .frontend {
      color: white;
      font-size: 26px;
      margin-bottom: 30px;
    }

    @media (max-width: 950px) {
      width: 100%;
      justify-content: center;
    }
    @media (max-width: 750px) {
      flex-direction: column;
      transform: none;
      align-items: center;
      justify-content: flex-start;
    }
    .animationText {
      width: 230px;
      height: 500px;
      @media (max-width: 750px) {
        width: 100%;
        height: auto;
      }
    }
    h1 {
      font-size: 120px;
      margin-right: 20px;
      margin-left: 20px;
      line-height: 98px;

      position: relative;
      left: -20px;
      @media (max-width: 750px) {
        font-size: 70px;
        margin: 0;
        margin-bottom: 10px;
        line-height: 60px;
        text-align: center;
        width: 100%;
        left: 0;
      }
    }
    .front-end {
      position: absolute;
      left: calc(100% - 30px);
      bottom: 0px;
      transform: rotate(15deg);
    }
    .about {
      // max-width: 200px;
      margin-top: 10px;
      @media (max-width: 750px) {
        width: 100%;
        max-width: 100%;
        height: auto;
        font-size: 13px;
        text-align: center;
      }
    }
  }
  &__imgContainer {
    position: relative;
    left: -100px;
    width: 470px;
    height: 380px;

    @media (max-width: 1180px) {
      left: inherit;
    }
    @media (max-width: 1080px) {
      margin-top: 20px;
    }
    @media (max-width: 650px) {
      transform: scale(0.8);
      transform-origin: center;
      margin-top: 0;
    }
  }
  svg {
    fill: white;
    width: 200px;
    opacity: 0.9;
    // transition: 0.2s ease-in-out;
    position: absolute;
    cursor: pointer;
    .animRound {
      animation: round 8s infinite linear;
      animation-play-state: paused;
      @media (max-width: 750px) {
        animation: round 18s infinite linear;
        animation-play-state: running;
      }
    }
    &:hover {
      // scale and stop animation
      // transform: scale(1.1);
      .animRound {
        animation-play-state: running;
        @media (max-width: 750px) {
          animation-play-state: paused;
        }
      }
    }
    @keyframes round {
      0% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
      }
      100% {
        transform: rotate(360deg);
        transform-origin: 50% 50%;
      }
    }
    @keyframes round2 {
      0% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
      }
      100% {
        transform: rotate(-360deg);
        transform-origin: 50% 50%;
      }
    }
  }
  #calque_github {
    top: 0px;
    left: 240px;
    width: 180px;
  }
  #calque_linkedin {
    top: 166px;
    left: 360px;
    width: 90px;
  }
  #calque_mail {
    top: 30px;
    left: 20px;
    width: 220px;
  }
  #calque_resume {
    top: 180px;
    left: 200px;
    width: 160px;
  }
}
